<div class="container">
  <div class="card m-5 p-5">
  <%# <div id="<%= dom_id article %>
    <p>
      <strong>Title:</strong>
      <%= article.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= article.body %>
    </p>

  <%# </div> %>
  </div>
</div>
